* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: gray;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

button {
    border-radius: 15px;
}

.button--icon {
    height: 45px;
}
