{% extends 'base.html' %}
{% block content %}
    <h1>DISPLAY ALL POSTS</h1>
    <ul>
        {% for post in blogs %}
        <li>
            <img src="{{ url_for('static', filename='images/' + post.author.image_file) }}">
            <h3><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h3>
            <p>Written by 
                <a href="{{ url_for('user_posts', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
                on {{ post.date_posted.strftime('%m/%d/%Y')}}
            </p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
