{% extends 'layout.html' %}
{% block content %}
    <h1>{{ current_user.username }}</h1>
    <img src="{{ image_file }}">
    <p>{{ current_user.email }}</p>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Account Info</legend>
            <div>
                <label>Username</label>
                {{ form.username }}
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% endif %}

            </div>
            <div>
                <label>Email</label>
                {{ form.email }}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </fieldset>
        {{ form.submit }}
    </form>

{% endblock content %}
