{% extends 'layout.html' %}

{% block content %}
    <h1>BLOG</h1>
        {% for post in posts.items %}
        <img class="avatar-image" src="{{ url_for('static', filename=post.author.image_file) }}">
        <h3>
            <a href="{{ url_for('post', post_id=post.id) }}">{{post.title}}</a>
        </h3>
        <p>By <a href="{{ url_for('user_posts', username=post.author.username)}}">{{ post.author.username }}</a> {{ post.date_posted.strftime('%B %d, %Y')}}</p>
        <p>{{ post.content }}</p>
    {% endfor %}

    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <button>{{ page_num }}</button>
            {% else %}
                <a href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            <p>...</p>
        {% endif %}
    {% endfor %}

{% endblock content %}
